* a {
    text-decoration: none;
}

.quiz-page {
    padding: 20px;
}

.quiz-container {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.quiz-title-container {
    text-align: center;
    margin-bottom: 20px;
}

.quiz-title-container div {
    font-size: 24px;
    font-weight: bold;
}

.filter-dropdown {
    width: 90%;
    text-align: end;
}

.quizlist-container {
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}

.quizlist-header {
    display: flex;
}

.header-checkbox {
    width: 10%;
    text-align: center;
}

.header-title {
    width: 90%;
    text-align: center;
}

.quizlist {
    list-style-type: none;
    padding: 0;
}

.quizlist-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.quizlist-item:last-child {
    border-bottom: none;
}

.quizlist-checkbox {
    width: 10%;
    text-align: center;
}

.quizlist-title {
    width: 90%;
}

.quizlist-item input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.quizlist-item input[type="checkbox"]:checked {
    accent-color: #ebff94;
}

.quizlist-item a {
    text-decoration: none;
    color: #007bff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    line-height: 2;
}

.quizlist-item a:hover {
    animation: colorChange 2s infinite;
}

@keyframes colorChange {
    0% {
        color: #007bff;
    }

    50% {
        color: #ebff94;
    }

    100% {
        color: #007bff;
    }
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.list-container span {
    font-size: 16px;
    font-weight: bold;
}

/* 드롭다운 메뉴 css */

.filter-dropdown {
    margin-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #6c757d;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.dropdown-toggle:focus {
    outline: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown.show .dropdown-menu {
    display: block;
}