.editor-page {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 탭 메뉴 css */

.tab-content {
    height: calc(100% - 22px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* 탭 메뉴 css 끝 */

/* 기본 개념 css */

.basic-content {
    height: 100%;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-top: none;
    border-radius: 5px;
}

/* 기본 개념 css 끝 */

/* 문제 css */

.problem-container {
    width: 49%;
    margin-right: 10px;
    height: 100%;
    border-radius: 5px;
}

.problem-name,
.problem-content,
.problem-detail {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-top: none;
}

.problem-name {
    height: 49px;
}

.problem-content {
    height: 70%;
    overflow: auto;
}

.problem-detail {
    overflow: auto;
    height: calc(30% - 49px);
    border-radius: 0px 0px 5px 5px;
}

.problem-detail-name {
    border-bottom: 1px solid #dee2e6;
}


/* 문제 css 끝 */

/* 언어 선택 css  */

.horizontal-menu {
    display: flex;
    width: 100%;
    padding: 10px;
}

.language-container {
    margin-left: 1rem;
    display: flex;
    gap: 1rem;
}

.language-container div,
.horizontal-menu div {
    display: flex;
}

.language-container div svg,
.horizontal-menu div svg {
    height: 100%;
}

.horizontal-menu:hover .language-container {
    display: flex;
}

/* 언어 선택 css 끝 */

/* 편집기 css */

.editor-container {
    width: 50%;
    height: 100%;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.editor-box {
    width: 100%;
    min-width: 570px;
    height: 70%;
    padding: 5px;
}

.run-btn {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.output-container {
    border-top: 1px solid #dee2e6;
    padding: 10px;
    overflow: auto;
}

.output-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 36px;
}
