/* src/components/Sidebar.css */
.dashboard {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.25rem;

  margin-top: 5%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  font-weight: 600;
  margin: 0.625rem 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  transition: color 0.5s ease;

}

.admin-menu li a {
  color: rgb(94, 176, 179);
}

@keyframes hover {
  0% { color: #333; }
  50% { color: #ebebeb; }
  100% { color: #333; }
}

.sidebar a:hover {
  animation: hover 2s infinite;
}

/* 채팅 css */

.chat-wrapper {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 14.375rem;
  margin-top: auto; 
}

.chat-container {
  width: 100%;
  height: 25rem;
  border: 0.125rem solid #c0c0c0;
  border-radius: 0.3125rem;
}

.chat-header {
  border-bottom: 0.125rem solid #c0c0c0;
  display: flex;
  justify-content: space-between;
}

.header-right {
  margin-left: auto;
  margin-right: 0.3125rem;
}